<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.vote.mapper.VoteActivityContentMapper">
    <sql id="vacSql">
        vac.id as vacId
        ,vac.activity_theme_id as vacActivityThemeId
        ,vac.phone as vacPhone
        ,vac.sum_poll as vacSumPoll
        ,vac.brief_introduction as vacBriefIntroduction
        ,vac.address as vacAddress
        ,vac.name as vacName
        ,vac.audit_status as vacAuditStatus
        ,vac.comment as vacComment
        ,vac.create_by as vacCreateBy
        ,vac.create_time as vacCreateTime
        ,vac.update_by as vacUpdateBy
        ,vac.update_time as vacUpdateTime
        ,vac.number as vacNumber
    </sql>
    <sql id="viSql">
        vi.id as viId
        ,vi.pid as viPid
        ,vi.img_url as viImgUrl
    </sql>
    <select id="getActivityContentById" resultMap="getActivityContentByIdMap">
        select
            <include refid="vacSql"></include>,
            <include refid="viSql"></include>
        from
            vote_activity_content vac
        left join
            vote_image vi
        on
            vi.pid = vac.id
        where
            vac.id = #{0}
    </select>
    <resultMap id="getActivityContentByIdMap" type="org.jeecg.modules.vote.vo.VoteActivityContentVo">
        <result property="id" column="vacId"></result>
        <result property="activityThemeId" column="vacActivityThemeId"></result>
        <result property="phone" column="vacPhone"></result>
        <result property="sumPoll" column="vacSumPoll"></result>
        <result property="briefIntroduction" column="vacBriefIntroduction"></result>
        <result property="address" column="vacAddress"></result>
        <result property="name" column="vacName"></result>
        <result property="auditStatus" column="vacAuditStatus"></result>
        <result property="comment" column="vacComment"></result>
        <result property="createBy" column="vacCreateBy"></result>
        <result property="createTime" column="vacCreateTime"></result>
        <result property="updateBy" column="vacUpdateBy"></result>
        <result property="updateTime" column="vacUpdateTime"></result>
        <result property="number" column="vacNumber"></result>
        <collection property="voteImageList" ofType="org.jeecg.modules.vote.entity.VoteImage">
            <id property="id" column="viId"></id>
            <result property="pid" column="viPid"></result>
            <result property="imgUrl" column="viImgUrl"></result>
        </collection>
    </resultMap>

    <select id="getNumber" resultType="java.lang.String">
        select
            max(number)
        from
            vote_activity_content
        where
            is_deleted = '0'
    </select>
    <select id="getPage" resultType="org.jeecg.modules.vote.vo.VoteActivityContentVo">
        select vac.*,vat.activity_name as activityName ,group_concat(vi.img_url) as fileList
        from
            vote_activity_content vac
        left join
            vote_activity_theme vat
        on
            vac.activity_theme_id = vat.id
        and
            vat.is_deleted = '0'
        left join
            vote_image vi
        on
            vi.pid = vac.id

        where
            vac.is_deleted = '0'
        group by
            vac.id
        order by
            create_time desc


    </select>

</mapper>